/* Your custom css code goes here */


/* Blue: #283891, Yellow: #ffcb08*/


/* Highlights Button hover: #17225b*/

.navbar-brand {
    font-size: 20px;
    padding: 5px;
}

#index-additions {
    border-top: none;
}

#js-pbs-logout {
    visibility: hidden;
}

.bk_cover {
    max-width: 125%;
}

.em_log_out {
    display: flex;
    justify-content: center;
}

.owl-carousel .owl-item .em_log {
    width: 75%;
    /* Ensure all images take the full width of their container */
    height: auto;
    /* Maintain aspect ratio */
}


/*--NAVBAR--*/

.pbs-navbar {
    background-color: #283891;
}

.pbs-navbar .navbar-brand {
    width: 30%;
    height: auto;
    margin-bottom: 50px;
    margin-left: 25px !important;
}

#usiu_logo {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.pbs-top-quick-contact-info span i {
    color: #ffcb08;
}

.pbs-top-social ul li a {
    color: #ffcb08;
}

.pbs-navbar .navbar-nav>li>a {
    color: rgb(255, 255, 255);
    font-size: 110%;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-top: 40px;
    }
}

.pbs-navbar .navbar-nav>li.active>a {
    color: #ffcb08 !important;
}

.pbs-header-top {
    background-color: #283891;
    color: #ffcb08;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    color: #ffcb08;
}

.pbs-navbar .navbar-nav>li>a:active,
.pbs-navbar .navbar-nav>li>a:focus,
.pbs-navbar .navbar-nav>li>a:hover {
    color: #ffcb08;
}


/*--HERO CONTENT--*/

.pbs-flex-block .pbs-text {
    color: black;
}

.pbs-section.pbs-section-colored {
    background: #283891;
}

.btn.btn-primary {
    border: 1px solid #283891;
    background: #283891;
    color: #ffcb08;
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background: #17225b;
}


/*--HIGHLIGHTS--*/

.nav-pills.pbs-tabs>li>a,
.nav-tabs.pbs-tabs>li>a {
    background: #283891;
    color: #ffcb08;
}

.nav-pills.pbs-tabs>li>a:hover,
.nav-tabs.pbs-tabs>li>a:hover {
    background: #17225b;
}

.pbs-featured-news-box:focus .pbs-text,
.pbs-featured-news-box:hover .pbs-text {
    background: #283891;
}

.pbs-featured-news-box .pbs-text {
    border-bottom: 3px solid #283891;
}


/*--FOOTER--*/

.pbs-footer .pbs-footer-widget h3 {
    color: #ffcb08;
}

.pbs-footer {
    background: #283891;
}

.pbs-footer .pbs-footer-widget .pbs-contact-info li i {
    color: #ffffff;
}

.pbs-footer a {
    color: #ffffff;
}

.pbs-footer a:hover {
    color: #ffcb08;
}


/*--COPYRIGHT--*/

.pbs-footer .pbs-copyright {
    background: #283891;
}

/*--ACCOUNT SIDEBAR--*/
.info-container {
    visibility: visible;
}
.borrowed-book-container {
    visibility: hidden;
}